.vcm-editor {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "tools"
        "main"
        "status";
}

.vcm-editor__canvas {
    background: var(--bg-main);
    width: 100%;
    height: 100%;
    min-width: 0; 
    min-height: 0;
    position: relative;
    overflow: hidden;
}

.vcm-editor__main {
    grid-area: main;
}

.vcm-editor__tools {
    grid-area: tools;
}

.vcm-editor__status {
    grid-area: status;
}

.vcm-editor__separator {
    width: 5px;
    height: 100%;
    background-color: rgb(from var(--border-color) r g b / 0.4); 
    cursor: col-resize;
    z-index: 10;
    border-radius: var(--radius);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* При наведении — мягкое проявление цвета */
.vcm-editor__separator:hover {
    background-color: rgb(from var(--border-highlight) r g b / 0.4);
}

/* При удержании и перетаскивании — аккуратный акцент без выжигающего свечения */
.vcm-editor__separator:active {
    background-color: var(--accent-primary);
    /* Очень тонкое, едва заметное свечение */
    box-shadow: 0 0 6px rgb(from var(--accent-glow) r g b / 0.0001);
}