.vcm-editor__canvas {
    background: var(--bg-main);
    width: 100vw;
    height: 100vh;
    display: block;
}

.vcm-editor__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 500px; 
    background-color: var(--bg-input);
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    overflow: hidden;
    transition: border-color var(--transition), background-color var(--transition);
}

