.sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--bg-editor-panels);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
    border-left: 1px solid var(--border-color);
}

.sidebar__transform-section {
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: auto;
}

/* Список элементов сцены */
.sidebar__elements-list {
    flex: 1;
    overflow-y: auto;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}



/* Скроллбары */
.sidebar__section-content::-webkit-scrollbar,
.sidebar__elements-list::-webkit-scrollbar {
    width: 4px;
}

.sidebar__section-content::-webkit-scrollbar-track,
.sidebar__elements-list::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar__section-content::-webkit-scrollbar-thumb,
.sidebar__elements-list::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;
}

.sidebar__section-content::-webkit-scrollbar-thumb:hover,
.sidebar__elements-list::-webkit-scrollbar-thumb:hover {
    background: var(--text-muted);
}